body, h1, h2, h3, ul,li,p{
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

* {
    box-sizing: border-box;
}


html {
    font-family: 'Open Sans', sans-serif;
   }


 

